<div class="container my-4">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h1>Data Visualization</h1>
    </div>
    <div class="col-12 col-md-8 offset-md-2 text-justify mb-4">
      <div class="row">
        <div class="col-md-6">
          <p>
            This dashboard provides real-time monitoring of sensor data around the
            city of Bucharest. Users can interact with the map to view sensor
            locations and get detailed information about each sensor. The data
            displayed includes temperature, humidity, and air quality, which are
            processed by our backend system.
          </p>
          <p>
            Additionally, users can view real-time graphs and statistics in the
            embedded Grafana dashboard below. This helps in analyzing trends and
            patterns in the data collected from various sensors deployed across the
            city.
          </p>
        </div>
        <div class="col-md-6">
          <app-map [sensors]="sensors"></app-map>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 offset-md-2 mb-4">
      <label for="timeRange">Select Time Range:</label>
      <select id="timeRange" [(ngModel)]="selectedTimeRange" class="form-control" (change)="updateTimeRange($event)">
        <option *ngFor="let range of timeRanges" [value]="range.value">{{ range.label }}</option>
      </select>
    </div>
    <div class="col-12">
      <app-sensor-list [sensors]="sensors" [selectedSensor]="selectedSensor" (sensorSelected)="selectSensor($event)"></app-sensor-list>
      <app-sensor-details *ngIf="selectedSensor" [selectedSensor]="selectedSensor" [selectedTimeRange]="selectedTimeRange" [fields]="fields"></app-sensor-details>
    </div>
  </div>
</div>
