<div class="container my-4">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h1>Data Visualization</h1>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <ul class="feature-list">
            <li><i class="fas fa-chart-line"></i> Real-time monitoring of Bucharest sensor data</li>
            <li><i class="fas fa-map-marker-alt"></i> <pre> </pre> Interactive map with sensor locations and details</li>
            <li><i class="fas fa-thermometer-half"></i> <pre> </pre> Displays temperature, humidity, and air quality data</li>
            <li><i class="fas fa-chart-pie"></i> Embedded dashboard for real-time graphs and statistics</li>
            <li><i class="fas fa-search"></i> Analyzes trends and patterns in sensor data across the city</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <app-map [sensors$]="sensors$"></app-map>
        </div>
      </div>
    </div>
    <div class="col-12" *ngIf="isAdmin">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <app-alert-settings [fields]="fields"></app-alert-settings>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 offset-md-2 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <label for="timeRange">Select Time Range:</label>
          <select id="timeRange" [(ngModel)]="selectedTimeRange" class="form-control" (change)="updateTimeRange($event)">
            <option *ngFor="let range of timeRanges" [value]="range.value">{{ range.label }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <app-sensor-list [sensors]="sensors$ | async" [selectedSensor]="selectedSensor" (sensorSelected)="selectSensor($event)"></app-sensor-list>
        </div>
      </div>
      <div class="card shadow-sm" *ngIf="selectedSensor">
        <div class="card-body">
          <app-sensor-details [selectedSensor]="selectedSensor" [selectedTimeRange]="selectedTimeRange" [fields]="fields"></app-sensor-details>
        </div>
      </div>
    </div>
  </div>
</div>
