<div class="row mt-4" *ngIf="selectedSensor">
  <div class="col-md-8 offset-md-2">
    <iframe title="" [src]="additionalPanelUrls[19]" width="100%" height="200"></iframe>
  </div>
  <div class="col-md-4">
    <iframe title="" [src]="additionalPanelUrls[20]" width="100%" height="200"></iframe>
  </div>
  <div class="col-md-4">
    <iframe title="" [src]="additionalPanelUrls[22]" width="100%" height="200"></iframe>
  </div>
  <div class="col-md-4">
    <iframe title="" [src]="additionalPanelUrls[9]" width="100%" height="200"></iframe>
  </div>
  <div class="col-md-6" *ngFor="let iframeUrl of iframeUrls; trackBy: trackByField">
    <iframe title="" [src]="iframeUrl" width="100%" height="200"></iframe>
  </div>
</div>
