.navbar-brand {
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}

.navbar-nav .nav-item .nav-link.text-primary {
  font-weight: bold;
}

.container {
  margin-top: 20px;
}

.dropdown-menu {
  right: 0;
  left: auto;
}
