<div class="container my-4 text-center">
  <div class="border p-1" (click)="toggleCollapse()" (keydown)="toggleCollapse()" style="cursor: pointer;">
    <h5 class="d-inline">Alert Settings</h5>
    <i class="ms-lg-3 bi" [ngClass]="{'bi-chevron-down': isCollapsed, 'bi-chevron-up': !isCollapsed}" style="font-size: 1.5rem;"></i>
  </div>
  <div class="collapse" [ngClass]="{'show': !isCollapsed}">
    <div class="row mt-3">
      <!-- Threshold Form -->
      <div class="col-md-6 threshold-form">
        <form [formGroup]="thresholdForm" (ngSubmit)="onSubmit()">
          <div class="row justify-content-center" *ngFor="let field of fields">
            <div class="col-md-6">
              <div class="form-group">
                <label [for]="field.name + 'Upper'">{{ field.title }} Upper</label>
                <input
                  type="number"
                  class="form-control"
                  [id]="field.name + 'Upper'"
                  formControlName="{{field.name}}Upper"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label [for]="field.name + 'Lower'">{{ field.title }} Lower</label>
                <input
                  type="number"
                  class="form-control"
                  [id]="field.name + 'Lower'"
                  formControlName="{{field.name}}Lower"
                />
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary mt-3">Update Thresholds</button>
          </div>
        </form>
      </div>

      <!-- Email Management -->
      <div class="col-md-6">
        <app-email-management></app-email-management>
      </div>
    </div>
  </div>
</div>
