/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "@fortawesome/fontawesome-free/css/all.css";

.login-container {
  width: 80%;
  margin-top: 15%;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

router-outlet {
  flex: 1;
}

.footer {
  margin-top: auto;
}

